@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #abafb0;
  color: #fff;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0 auto;
  font-weight: bold;
  gap: 10px;
}

.pagination-element {
  background-color: #fff;
  color: #000d23;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s;
}

.pagination-element:hover {
  background-color: #000d23;
  color: #abafb0;
}

.active-page {
  background-color: #000d23;
  color: #abafb0;
}

.active-page:hover {
  background-color: #fff;
  color: #000d23;
}
